.app-header {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #131a28;
  color: white;
  justify-content: center;
  align-items: center;
}
.gameName {
  font-size: 300%;
  text-decoration: underline;
  text-decoration-color: #1cdcf581;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.square {
  min-width: 100px;
  min-height: 100px;
  font-size: 64px;
  text-align: center;
  color: #1cdbf5;
  font-weight: bolder;
  padding: 10px;
  cursor: grabbing;
}

.b-bottom-right {
  border-right: 12px solid #1cdbf5;
  border-bottom: 12px solid #1cdbf5;
}

.b-bottom {
  border-bottom: 12px solid #1cdbf5;
}

.b-right {
  border-right: 12px solid #1cdbf5;
}
.re-btn {
  margin-top: 2%;
  padding: 0.7rem;
  font-family: cursive;
  font-weight: bolder;
  background: #bfdbfe;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.re-btn:hover {
  background-color: #131a28;
  color: #bfdbfe;
}
.footer {
  margin-top: 3%;
  color: #1cdbf5;
}
