.app-header {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #131a28;
  color: white;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.square {
  min-width: 100px;
  min-height: 100px;
  font-size: 64px;
  text-align: center;
  color: #1cdbf5;
  font-weight: bolder;
  padding: 10px;
  cursor: grabbing;
}

.b-bottom-right {
  border-right: 15px solid #1cdbf5;
  border-bottom: 15px solid #1cdbf5;
}

.b-bottom {
  border-bottom: 15px solid #1cdbf5;
}

.b-right {
  border-right: 15px solid #1cdbf5;
}
